<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>com.khoahd7621.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.khoahd7621.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.LoadMoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.ViewAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantDetailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.PlantDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UserViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrderDetailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UserViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageAccountController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.ChangeOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagePlantController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminManagePlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdatePlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategoryController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminManageCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.SendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfoController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.sync.AdminSearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <servlet-class>com.khoahd7621.controller.async.AddToCartAsyncController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreController</servlet-name>
        <url-pattern>/LoadMoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllController</servlet-name>
        <url-pattern>/ViewAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantDetailController</servlet-name>
        <url-pattern>/PlantDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/UpdateCartQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/AboutUsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrderController</servlet-name>
        <url-pattern>/UserViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrderDetailController</servlet-name>
        <url-pattern>/UserViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageAccountController</servlet-name>
        <url-pattern>/AdminManageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrderController</servlet-name>
        <url-pattern>/AdminManageOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderController</servlet-name>
        <url-pattern>/ChangeOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagePlantController</servlet-name>
        <url-pattern>/AdminManagePlantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantController</servlet-name>
        <url-pattern>/UpdatePlantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategoryController</servlet-name>
        <url-pattern>/AdminManageCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/UserHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailController</servlet-name>
        <url-pattern>/SendEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInfoController</servlet-name>
        <url-pattern>/AdminInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchOrderController</servlet-name>
        <url-pattern>/AdminSearchOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <url-pattern>/AddToCartAsyncController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
