<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>com.khoahd7621.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.khoahd7621.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreController</servlet-name>
        <servlet-class>com.khoahd7621.controller.LoadMoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.khoahd7621.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllController</servlet-name>
        <servlet-class>com.khoahd7621.controller.ViewAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantDetailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.PlantDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>com.khoahd7621.controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.khoahd7621.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.khoahd7621.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.khoahd7621.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.khoahd7621.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UserViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrderDetailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UserViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>com.khoahd7621.controller.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageAccountController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderController</servlet-name>
        <servlet-class>com.khoahd7621.controller.ChangeOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagePlantController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminManagePlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdatePlantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategoryController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminManageCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeController</servlet-name>
        <servlet-class>com.khoahd7621.controller.UserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailController</servlet-name>
        <servlet-class>com.khoahd7621.controller.SendEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfoController</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchOrderServlet</servlet-name>
        <servlet-class>com.khoahd7621.controller.AdminSearchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreController</servlet-name>
        <url-pattern>/LoadMoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllController</servlet-name>
        <url-pattern>/ViewAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantDetailController</servlet-name>
        <url-pattern>/PlantDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/UpdateCartQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/AboutUsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrderController</servlet-name>
        <url-pattern>/UserViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrderDetailController</servlet-name>
        <url-pattern>/UserViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageAccountController</servlet-name>
        <url-pattern>/AdminManageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrderController</servlet-name>
        <url-pattern>/AdminManageOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderController</servlet-name>
        <url-pattern>/ChangeOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagePlantController</servlet-name>
        <url-pattern>/AdminManagePlantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantController</servlet-name>
        <url-pattern>/UpdatePlantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategoryController</servlet-name>
        <url-pattern>/AdminManageCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeController</servlet-name>
        <url-pattern>/UserHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailController</servlet-name>
        <url-pattern>/SendEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInfoController</servlet-name>
        <url-pattern>/AdminInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchOrderServlet</servlet-name>
        <url-pattern>/AdminSearchOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
